@charset "utf-8";

/*---------------------------*/
/* 引用思源中文                */
/*---------------------------*/
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

/*---------------------------*/
/* 定義網頁                   */
/*---------------------------*/
html, body{
    font-size:17px;
    /*設定思源中文*/
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 280;	
    background-color:#444;
    margin:0;	
}


/*---------------------------*/
/* 定義標題                   */
/*---------------------------*/
div.header{
    width:100%;	
    min-width:800px;
    height:80px;
    background-color:#CCC;
    text-align:center;
    position:fixed;
    z-index:20;
    box-shadow:0px 1px 3px 1px #000;
}


/*---------------------------*/
/* 定義logo圖示               */
/*---------------------------*/
div.header img.logo{
    width:80px;
    height:80px;
    border-radius:40px;
    position:relative;
    z-index:30;    
    top:20px;
    box-shadow:0px 1px 3px 1px #000;
}

div.header img.logo:hover{
    cursor:pointer;
}


/*--~~~~~~~~~~~~~~~~~~~~~~~--*/
/* 定義容器                   */
/*--~~~~~~~~~~~~~~~~~~~~~~~--*/
div.container{
    width:800px;	
    position:relative;
    margin-left:auto;
    margin-right:auto;	
    top:80px;
}


/*---------------------------*/
/* 定義內容                   */
/*---------------------------*/
div.content{	   
    padding:0px 25px 20px 25px;
    box-sizing:border-box;
    background:#fff;
    text-align:justify;
}

div.content h1,
div.content h2{
    margin-top:0;
    padding-top:25px;
}

div.content h1:first-child,
div.content h2:first-child{
    padding-top:55px;
}


/*---------------------------*/
/* 定義搜尋輸入欄            */
/*---------------------------*/
form.navbar-form{
	position:relative;
	top:14px;
}


/*---------------------------*/
/* 定義表格                   */
/*---------------------------*/
table.dataList{
    border-spacing:3px;	
	border-collapse:separate;
}

table.dataList tr:first-child td{	
    height:32px;	
    background:#666;
    color:#FFF;
    padding-left:10px;	
}

table.dataList tr:nth-child(2n+2) td{
    height:28px;
    background:#CCC;
    color:#000;
    font-size:15px;
	padding-left:10px;
}

table.dataList tr:nth-child(2n+3) td{
    height:28px;
    background:#AAA;
    color:#000;
    font-size:15px;
	padding-left:10px;
}

/* products_contents */
	
#products_contents p.title{
    padding:5px 10px;
    font-size:1.1em;
    font-weight:500;
    color:#FFFFFF;
    line-height:1.5em;
    background-color:rgba(237,120,106,0.7);
    border-style:dotted;
    border-radius:5px;
    padding-left:1em;
}

#products_contents .button{
    margin-left:3em;
}

#products_contents p.photo img {
    margin-right:1.25em;
    float:left;
    border-radius:60px;
    background-color:rgba(0,0,0,0.5);
}

#products_contents .text {
    line-height:1.8em;
}

#products_contents h3 {
    margin-top:-1.5em;
}

#products_contents .date {
    width:6.25em;
    float:right;
    color:#00000;
    font-weight:500;
    text-align:right;
}

#products_contents br.nickname{
    float: left;
    margin-left: 40px;
    color: #336621;
    font-weight: 550;
}

#products_contents .good{
    float:right;
    margin-top:10px;
    margin-left: 500px;
    font-weight:bold;
    color:#999999;
    line-height:1.6em;
}

#products_contents p.type a{
    float:right;
    margin-right:0.5em;
    margin-top:-1.8em;
    color:#FFFFFF;
    font-size:0.85em;
    padding:0.1em 0.7em 0.1em 0.7em;
    background-color:rgba(136,136,162,0.5);
    font-weight:bold;
    text-align:center;
    line-height:2.0em;
    border-style:none;
    border-radius:4px;
    vertical-align:bottom;
}

#products_contents .icon{
    margin-left:1.25em;
}

#products_contents .collect{
    font-size:14px;
    color:#336633;
    font-weight:bold;
    text-align:right;
    line-height:2.0em;
    vertical-align:bottom;
}

#products_contents .pagetop{
    clear:both;
    margin:0.625em 0 1.25em 0;
    text-align:right;	
}

/*---------------------------*/
/* 定義表尾                   */
/*---------------------------*/
div.footer{
    height:100px;
    line-height:100px;
    background:#CCC;
    font-size:13px;
    text-align:center;
    letter-spacing:3px;
}